.mapContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.mapContainer svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.geography {
  cursor: pointer;
  stroke: var(--background);
  stroke-width: 0.1px;
}

.geography:focus {
  outline: none;
}

.geography:active {
  outline: none;
}
