@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(0.97 0.01 261.692);
  --foreground: #1e1e2f;
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
