:root {
  --background: oklch(0.97 0.01 261.692);
  --foreground: #1e1e2f;
  --border-color: rgba(0, 0, 0, 0.1);
}

.dark {
  --background: oklch(0.13 0.028 261.692);
  --foreground: #fff;
  --border-color: rgba(31, 41, 55, 0.5);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
